.titulo-dashboard {
    text-align: center;
    color: #1351d8;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 83vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 50%;
}

.section__tabela-veiculos {
    background-color: #1b357e;
    height: 17vh;
}

.tabela-veiculos {
    background-color: #1b357e;
}

.tabela-veiculos-titulo th{
    background-color: #1b357e;
    color: white;
}

.tabela-veiculos-dados {
    background-color: white;
}

.quadro-titulo {
    padding: 3%;
    background-color: whitesmoke;
}

.quadro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 3%;
    height: 70%;
}

.quadro-info h2 {
    padding-left: 7%;
    font-weight: bold;
    color: #1351d8;
}

.quadro-info h6 {
    padding-left: 7%;
    color: gray;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}