main {
    display: flex;
}

.section__login {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 13%;
}

.section__login h3 {
    color: green;
}

@media (max-width: 767px) {
    main {
        flex-direction: column;
        width: 100%;
    }

    .section__login {
        justify-content: start;
        padding-top: 20%;
    }
}