.section__tabela-veiculos {
    background-color: #1b357e;
    min-height: 20vh; 
    padding: 15px;
    height: auto;
}

.tabela-veiculos {
    background-color: #1b357e;
    margin-bottom: 0;
}

.tabela-veiculos-titulo th {
    background-color: #1b357e;
    color: white;
    white-space: nowrap;
}

.tabela-veiculos-dados {
    background-color: white;
}

.msgError {
    position: absolute;
    width: 20%;
    height: min-content;
    text-align: center;
    font-size: 11px;
    top: 80vh;
}

@media (max-width: 767px) {
    .section__tabela-veiculos {
        padding: 10px;
        height: auto;
    }
    
    #Cod-Vin {
        font-size: 14px;
    }
}