.cabecalho {
    display: flex;
}

.cabecalho__section__direita {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
}

@media (max-width: 767px) {
    .cabecalho__section__direita {
        flex-direction: column;
        width: 100%;
    }

    .cabecalho__section__logo {
        width: 33%;
    }
}